.navbar>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li {
    transition: all .3s ease-in-out;
}

.navbar li:hover {
    transform: scale(1.1);
}

.navbar li:hover a {
    color: var(--color-gray-400);
}

.navbar a {
    position: relative;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-gray-100);
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    transition: width .5s ease-in-out;
    background: var(--color-primary);
}

.navbar a:hover::after {
    width: 100%;
}

@media(max-width:1000px) {
    .navbar a {
        font-size: 16px;
    }
}